body {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

.Buttons {
    display: flex;
    justify-content: center;
}

button {
    width: 8%;
    height: 15%;
    margin: 20px;
}

.Grids {
    display: flex;
    flex-wrap: wrap;
    margin-left: 50vh;
    width: 1000px;
    height: 1000px;
}